.fluidbox {
	outline: none;
}
.hidden {
	display: none;
}
.fluidbox-overlay {
	cursor: pointer;
	cursor: -webkit-zoom-out;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	-webkit-transition: all .25s ease-in-out;
	        transition: all .25s ease-in-out;
}
.fluidbox-wrap {
	background-position: center center;
	background-size: cover;
	margin: 0 auto;
	position: relative;
	-webkit-transition: all .25s ease-in-out;
	        transition: all .25s ease-in-out;
}
.fluidbox-ghost {
	background-size: cover;
	background-position: center center;
	position: absolute;
	-webkit-transition: all .25s ease-in-out;
	        transition: all .25s ease-in-out;
}
.fluidbox-closed .fluidbox-ghost {
	-webkit-transition-property: top, left, opacity, -webkit-transform;
	transition-property: top, left, opacity, transform;
	-webkit-transition-delay: 0, 0, .25s, 0;
	        transition-delay: 0, 0, .25s, 0;
	}
.fluidbox-closed .fluidbox-wrap img {
	-webkit-transition-property: opacity;
	        transition-property: opacity;
	-webkit-transition-delay: .25s;
	        transition-delay: .25s;
	-webkit-transition-duration: 0s;
	        transition-duration: 0s;
}
a[data-fluidbox] {
    background-color: #eee;
    border: none;
    cursor: -webkit-zoom-in;
    margin-bottom: 1.5rem;
}
    a[data-fluidbox].fluidbox-opened {
        cursor: -webkit-zoom-out;
    }
a[class^='float'] {
    margin: 1rem;
    margin-top: 0;
    width: 33.33333%;
}
    a.float-left {
        float: left;
        margin-left: 0;
    }
    a.float-right {
        float: right;
        margin-right: 0;
    }
a[data-fluidbox] img {
    display: block;
    margin: 0 auto;
    opacity: 0;
    max-width: 100%;
    -webkit-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}